/* styles/About.module.css */
.container {
  padding-top: 4%;
  max-width: 100%;
}

.aboutSection {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.topSection {
  display: flex;
  align-items: center; /* Vertically center the image and short description */
  margin-bottom: 30px;
}

.profileImage {
  width: 200px; /* Adjust image size */
  height: 200px;
  border-radius: 50%; /* Make the image circular */
  margin-right: 50px; /* Spacing between image and text */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.shortDescription {
  flex: 1; /* Allow the description to take up remaining space */
}

.title {
  font-size: 3em;
  margin: 0 0 10px 0; /* Remove default margins and set spacing */
}

.subtitle {
  font-size: 1.2em;
}

.longDescription {
  font-size: 1em;
  line-height: 1.6;
}

.longDescription p {
  margin-bottom: 15px; /* Spacing between paragraphs */
}

@media (max-width: 768px) {
  .topSection {
    flex-direction: column; /* Stack image and description vertically on small screens */
    align-items: flex-start;
  }

  .profileImage {
    margin-bottom: 20px; /* Add spacing when stacked */
  }

  .title {
    font-size: 1.8em;
  }

  .subtitle {
    font-size: 1em;
  }
}
